/* Common styles */
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.logo,
.logo-span,
.footer-logo,
.footer-logo-span {
  text-decoration: none;
}

/* /Common styles */
/* ------------------MOBILE STYLES------------------- */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 367px;
    margin: 0 auto;
  }
}
/* =================HEADER STYLES====================== */
.menu {
  display: none;
}

.menu-address {
  display: none;
}

.page-header {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px #e7e9fc solid;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-span {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
}

.mobile-menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999999;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.mobile-modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-modal-close-btn-icon {
  color: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-main-menu-item {
  margin-bottom: 40px;
}

.mobile-modal-close-btn:hover,
.mobile-modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.mobile-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.mobile-link.active {
  color: #404bbf;
}

.mobile-page-address {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-address-item {
  margin-bottom: 16px;
}

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-main-menu {
  margin: 72px 0 0 16px;
}

.mobile-menu-address {
  margin: 220px 0 0 16px;
}

.mobile-link:hover,
.mobile-link:focus {
  color: #404bbf;
}

.mobile-page-address:hover,
.mobile-page-address:focus {
  color: #404bbf;
}

.social-net-menu-modal {
  display: flex;
  gap: 40px;
  margin: 0 0 40px 16px;
}

.social-net-menu-modal-item {
  width: 40px;
  height: 40px;
}

.social-net-modal-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =================/HEADER STYLES====================== */

/*==================MAIN STYLES=========================*/
.sollution {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
  .sollution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

.main-title {
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
  max-width: 169px;
}

.order-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  display: block;
  border-radius: 4px;
  height: 56px;
  width: 169px;
  border: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.our-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rectangle {
  display: none;
}

.title-benefits {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.description-benefits {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.menu-benefits-item:last-of-type .description-benefits {
  margin-bottom: 0;
}

.staff {
  background-color: #f4f4fd;
  padding-top: 96px;
}

.title-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.menu-team {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.worker {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
  width: 264px;
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
}

.menu-team-list {
  width: 264px;
  height: 425px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

.menu-team-list:not(:last-child) {
  margin-bottom: 72px;
}

.menu-team:last-child {
  padding-bottom: 96px;
}

.title-workers {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.text-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.menu-social-net {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-net-list {
  width: 40px;
  height: 40px;
}

.social-net-list-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net-list-item:hover,
.social-net-list-item:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.title-portfolio {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding-top: 96px;
  margin-bottom: 72px;
  text-align: center;
}

.overlay-text {
  display: none;
}

.menu-portflio-item {
  max-width: 288px;
  margin: 0 auto;
}

.portfolio-container {
  width: 288px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #ffffff;
  margin-bottom: 48px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-portflio-item:last-child {
  padding-bottom: 96px;
}

.title-pluses {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-pluses {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =================/MAIN STYLES====================== */

/* =================FOOTER STYLES====================== */

.footer-logo {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  align-items: center;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  align-items: center;
  max-width: 264px;
  margin-bottom: 72px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text-social-net {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-menu-social-net {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-menu-list {
  width: 40px;
  height: 40px;
}

.footer-menu-list-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-list-item:hover,
.footer-menu-list-item:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-form-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-icon {
  margin-left: 16px;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}

/* =================/FOOTER STYLES======================

* =================BACKDROP STYLES======================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.rewiew-form-text {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.rewiew-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.rewiew-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px rgba(46, 47, 66, 0.4) solid;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rewiew-form-field:focus {
  border: 1px #4d5ae5 solid;
  outline-color: transparent;
  outline-offset: 1px;
}

.rewiew-form-field:focus + .rewiew-form-icon {
  fill: #4d5ae5;
}

.rewiew-form-field-wrapper {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.rewiew-form-input-wrapper {
  position: relative;
}

.rewiew-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-message {
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px rgba(46, 47, 66, 0.4) solid;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.rewiew-form-message:focus {
  border: 1px #4d5ae5 solid;
  outline-color: transparent;
  outline-offset: 1px;
}

.rewiew-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-policy-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.rewiew-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.own-checkbox-icon-click {
  border-radius: 2px;
}

.rewiew-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px rgba(46, 47, 66, 0.4) solid;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.rewiew-form-checkbox:checked
  + .rewiew-form-checkbox-label
  .rewiew-form-own-checkbox {
  visibility: visible;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.rewiew-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  color: white;
  font-size: 1.5;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-button:hover {
  background-color: #404bbf;
}
/* =================/BACKDROP STYLES====================== */

/* -----------------/MOBILE STYLES------------------- */

/* ---------------- TABLET STYLES----------------------- */
@media screen and (min-width: 768px) {
  /* =================HEADER STYLES====================== */

  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .burger-button {
    display: none;
  }

  .flex-container {
    display: flex;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }

  .logo {
    margin-right: 120px;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu:last-child {
    margin-right: 0;
  }

  .menu-address {
    display: flex;
    flex-direction: column;
  }

  .contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
  }

  .link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .current {
    color: #404bbf;
  }

  .link.current::after {
    display: block;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    content: '';
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .menu-items {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu .link:hover,
  .menu .link:focus {
    color: #404bbf;
  }

  .page-address {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-address:hover,
  .page-address:focus {
    color: #404bbf;
  }
  /* =================/HEADER STYLES====================== */

  /*==================MAIN STYLES=========================*/

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
    max-width: 496px;
  }

  .our-benefits {
    padding-bottom: 20px;
  }

  .menu-benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .menu-team {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 552px;
  }

  .menu-team:last-child {
    padding-bottom: 40px;
  }

  .menu-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .menu-portflio-item {
    max-width: 356px;
    max-height: 420px;
  }

  .menu-portflio-item:last-child {
    margin-bottom: 96px;
  }

  .portfolio-container {
    width: 356px;
  }

  /* =================/MAIN STYLES====================== */

  /* =================FOOTER STYLES====================== */

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    column-gap: 24px;
    align-items: start;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .second-container {
    align-items: start;
  }

  .footer-form-wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .social-net-container {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  /* =================/FOOTER STYLES======================*/
}

/* -----------------/TABLET STYLES----------------------- */

/* -----------------/DEKSTOP STYLES------------------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* =================HEADER STYLES====================== */

  .flex-container {
  }

  .logo {
    margin-right: 76px;
  }

  .menu-address {
    flex-direction: row;
    column-gap: 40px;
  }

  /* =================/HEADER STYLES====================== */

  /*==================MAIN STYLES=========================*/
  .rectangle {
    display: flex;
  }

  .rectangle {
    display: flex;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    border: 1px #8e8f99 solid;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 24px;
  }

  .menu-benefits {
    flex-wrap: nowrap;
  }

  .title-benefits {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  .description-benefits {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .menu-team-list {
    width: calc((100% - 72px) / 4);
  }

  .menu-team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: none;
  }

  .menu-portfolio {
    row-gap: 40px;
    margin-bottom: 120px;
  }

  .overlay {
    position: relative;
    overflow: hidden;
  }

  .overlay-text {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-portflio-item:hover .overlay-text {
    transform: translateY(0%);
  }

  .menu-portflio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .menu-portflio-item:last-child {
    margin-bottom: 0;
  }

  .portfolio-container {
    margin-bottom: 0;
  }

  /* =================/MAIN STYLES====================== */

  /* =================FOOTER STYLES====================== */
  .second-container {
    margin-right: 120px;
  }

  .footer-menu-social-net {
    margin-right: 88px;
  }

  .footer-container {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .footer-text {
    width: 264px;
  }
  /* =================/FOOTER STYLES=========================*/
}
/* -----------------/DEKSTOP STYLES----------------------- */
